Repository OpenTabletDriver/opentabletdriver.github.io, pull requests merged in 2024-11, with the labels that each got.

#213 wiki configurations: Update 'Interface' attributes to new standard
  site/_wiki/Development/Configurations.md
Labels: bug, wiki

#215 Update Bootstrap and Bootswatch to 5.3.3
  site/Gemfile
  site/Gemfile.lock
Labels: enhancement, styling

#214 Add Discord toplevel redirect
  site/_layouts/redirect.html
  site/_sections/Discord.md
Labels: enhancement

#225 Mention required permissions in macos install
  site/_wiki/Install/MacOS.md
Labels: enhancement, wiki
