Repository OpenTabletDriver/opentabletdriver.github.io, pull requests merged in 2025-01, with the labels that each got.

#224 Add apple verification error to macos faq
  site/_wiki/FAQ/MacOS.md
Labels: enhancement, wiki

#238 Reword libinput smoothing fix section for v0.6.5.0
  site/_wiki/FAQ/Linux.md
Labels: bug, wiki

#246 workflows: Update all workflows to latest
  .github/workflows/deploy.yml
  .github/workflows/jekyll-build-workflow.yml
  .github/workflows/site-workflow/action.yml
Labels: enhancement
